# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Environment variables / secrets
.env

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Files
tts/
config/
microphone_test/
